<form method="post" action="/course/store">
  <div class="form-group" >
    <label for="name">Tên khoá học</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
  </div>
  <div class="description">
    <label for="search-input">Miêu tả khoá học</label>
    <input type="text" name="description" class="form-control" id="description" placeholder="Enter discript">
  </div>
  <div class="form-group">
    <label for="search-input">Id video</label>
    <input type="text" name="videoId" class="form-control" id="videoId" placeholder="Enter id video">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

                     