<form>
  <div class="form-group">
    <label for="search-input">Tên khoá học</label>
    <input type="text" name="q" class="form-control"  placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="search-input">Miêu tả khoá học</label>
    <input type="text" name="q" class="form-control"  placeholder="Enter discript">
  </div>
  <div class="form-group">
    <label for="search-input">Hình ảnh</label>
    <input type="text" name="q" class="form-control"  placeholder="Enter img">
  </div>
  <div class="form-group">
    <label for="search-input">Slug</label>
    <input type="text" name="q" class="form-control"  placeholder="Enter slug">
  </div>
  <div class="form-group">
    <label for="search-input">Id video</label>
    <input type="text" name="q" class="form-control"  placeholder="Enter id video">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>